<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/commisoes.css">
    <title>Commisoes</title>
</head>
<body>
    <nav>
        <div class="navtop-container">
            <img src="./img/avatar.png" alt="avatar">
            <div class="navtop-container-info">
                <h4>Nome</h4>
                <h4>Codigo Rep</h4>
            </div>
        </div>
        <a href="/minhaconta">
            <div class="tab-container-minhaconta">
                <h3>Minha Conta</h3>
            </div>
        </a>
        <a href="/home">
            <div class="tab-container">
                <h3>Home</h3>
            </div>
        </a>
        <a href="/commisoes">
            <div class="tab-container">
                <h3>Commisões</h3>
            </div>
        </a>
        <a href="recursos">
            <div class="tab-container">
                <h3>Recursos</h3>
            </div>
        </a>  
    </nav>
    <main>
        <section class="main-content">
            <div class="content-info">
                <div class="content-info-card">
                    <h2>R$ 320,00</h2>
                    <h4>Pendentes</h4>
                </div>
                <div class="content-info-card">
                    <h2>R$ 600,00</h2>
                    <h4>Pago</h4>
                </div>
            </div>
            <div class="content">
                <div class="content-historico">
                    <h4>Hisórico de pagamentos</h4>
                    <div class="historico">
                        <div>
                            <div class="container-historico">
                                <h5>28/05/2022</h5>
                                <h5>R$ 200,00</h5>
                            </div>
                        </div>
                        <div>
                            <div class="container-historico">
                                <h5>23/05/2022</h5>
                                <h5>R$ 200,00</h5>
                            </div>
                        </div>
                        <div>
                            <div class="container-historico">
                                <h5>12/05/2022</h5>
                                <h5>R$ 230,00</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>