<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/home.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div class="navtop-container">
            <img src="./img/avatar.png" alt="avatar">
            <div class="navtop-container-info">
                <h4>Nome</h4>
                <h4>Codigo Rep</h4>
            </div>
        </div>
        <a href="conta.html">
            <div class="tab-container-minhaconta">
                <h3>Minha Conta</h3>
            </div>
        </a>
        <a href="home.html">
            <div class="tab-container">
                <h3>Home</h3>
            </div>
        </a>
        <a href="commisoes.html">
            <div class="tab-container">
                <h3>Commisões</h3>
            </div>
        </a>
        <a href="recursos.html">
            <div class="tab-container">
                <h3>Recursos</h3>
            </div>
        </a>  
    </nav>
    <main>
        <section class="main-content">
            <div class="content-info">
                <div class="content-info-card">
                    <h2>320</h2>
                    <h4>Vendas esse mes</h4>
                </div>
                <div class="content-info-card">
                    <h2>21</h2>
                    <h4>Itens vendidos</h4>
                </div>
                <div class="content-info-card">
                    <h2>4</h2>
                    <h4>Clientes</h4>
                </div>
            </div>
            <div class="content">
                <div class="content-graph">
                    <h4>Vendas nos últimos meses</h4>
                    <div class="grafico">

                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>