body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    width: 25%;
    padding: 2rem 2.5rem;
    background: #FBFBFB;
    box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.img-container {
    margin-bottom: 1rem;
}

.campos-container {
    display: flex;
    flex-direction: column;
}

.campos-container-inputs {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-bottom: 2rem;
}

.campos-container-botao {
    display: flex;
}

.campos-container-botao button {
    width: 100%;
}